name: Check
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  check:
    runs-on: macos-15
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - run: nix flake check
